$use-xs-name: false;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  md: 768px,
  // Large screen / desktop
);

$container-max-widths: (
  sm: 540px,
  md: 1140px
);

$columns: 12 !default;

$grid-gutter-width-base: 14px;




.row *{
    box-sizing: border-box;
}

.container {
    padding-right:($grid-gutter-width-base / 2);
    padding-left: ($grid-gutter-width-base / 2);
}

@each $breakpointname in map-keys($grid-breakpoints) {
    @if ($breakpointname == 'xs') {
      .container{
        width: 100%;
      }
    } @else {
        @media (min-width: map-get($grid-breakpoints, $breakpointname)) {
           .container{
                max-width: map-get($container-max-widths, $breakpointname);
                margin: 0 auto;
            }
        }
    }
}

@mixin make-row($gutter: $grid-gutter-width-base) {
    .row {
        margin-right: -$gutter / 2;
        margin-left: -$gutter / 2;
    }

    .row::before,
    .row::after {
      content: " ";
      display: table;
    } 
    
    .row::after {
      clear: both;
    }
}


@include make-row($grid-gutter-width-base);

   

[class*='col']{
    padding: 0 ($grid-gutter-width-base / 2) 0 ($grid-gutter-width-base / 2);
    position: relative;
    // Prevent columns from becoming too narrow when at smaller grid tiers by
    // always setting `width: 100%;`. This works because we use `flex` values
    // later on to override this initial width.
    width: 100%;
    min-height: 1px; // Prevent collapsing
    float: left;
}

@each $breakpointname in map-keys($grid-breakpoints) {
    @if ($breakpointname == 'xs') {
        @for $size from 1 through $columns {
            @if ($use-xs-name == true) {
                .row > .col-#{$breakpointname}-#{$size} {

                    width: percentage($size / $columns);
                }
            }@else{
                .row > .col-#{$size} {
                    width: percentage($size / $columns);
                }    
            }    
        }
    }

    @else {
        @media (min-width: map-get($grid-breakpoints, $breakpointname)) {
            @for $size from 1 through $columns {
                .row > .col-#{$breakpointname}-#{$size} {
                  width: percentage($size / $columns);
                }
            }
        }
    }
}