.row * {
  box-sizing: border-box;
}

.container {
  padding-right: 7px;
  padding-left: 7px;
}

.container {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
.row {
  margin-right: -7px;
  margin-left: -7px;
}

.row::before,
.row::after {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

[class*=col] {
  padding: 0 7px 0 7px;
  position: relative;
  width: 100%;
  min-height: 1px;
  float: left;
}

.row > .col-1 {
  width: 8.3333333333%;
}

.row > .col-2 {
  width: 16.6666666667%;
}

.row > .col-3 {
  width: 25%;
}

.row > .col-4 {
  width: 33.3333333333%;
}

.row > .col-5 {
  width: 41.6666666667%;
}

.row > .col-6 {
  width: 50%;
}

.row > .col-7 {
  width: 58.3333333333%;
}

.row > .col-8 {
  width: 66.6666666667%;
}

.row > .col-9 {
  width: 75%;
}

.row > .col-10 {
  width: 83.3333333333%;
}

.row > .col-11 {
  width: 91.6666666667%;
}

.row > .col-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .row > .col-md-1 {
    width: 8.3333333333%;
  }
  .row > .col-md-2 {
    width: 16.6666666667%;
  }
  .row > .col-md-3 {
    width: 25%;
  }
  .row > .col-md-4 {
    width: 33.3333333333%;
  }
  .row > .col-md-5 {
    width: 41.6666666667%;
  }
  .row > .col-md-6 {
    width: 50%;
  }
  .row > .col-md-7 {
    width: 58.3333333333%;
  }
  .row > .col-md-8 {
    width: 66.6666666667%;
  }
  .row > .col-md-9 {
    width: 75%;
  }
  .row > .col-md-10 {
    width: 83.3333333333%;
  }
  .row > .col-md-11 {
    width: 91.6666666667%;
  }
  .row > .col-md-12 {
    width: 100%;
  }
}/*# sourceMappingURL=floatgrid_urwahl.css.map */