 /// Replace `$search` with `$replace` in `$string`
 /// @author Hugo Giraudel
 /// @param {String} $string - Initial string
 /// @param {String} $search - Substring to replace
 /// @param {String} $replace ('') - New value
 /// @return {String} - Updated string
 @function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  
  @return $string;
}


@function inline-svg($viewBox, $color, $opacity, $path) {
  $chunk: "data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='#{$viewBox}' preserveAspectRatio='xMinYMin meet'><path style='fill:#{$color}' fill-opacity='#{$opacity}' d='#{$path}' /></svg>";
  $chunk: str-replace($chunk,'<','%3C');
  $chunk: str-replace($chunk,'>','%3E');
  $chunk: str-replace($chunk,'#','%23');  

  @return $chunk;
}

.video-wrapper{
  position: relative;
}

.video-wrapper .video-controls{
  dispay: none;
}

.playpause{ 
  position: absolute;
  top: 50%; 
  left: 50%;
  width: 100%;
  height: 100%;
  //padding: 25% 25%;
  transform: translate(-50%, -50%);
  //border: 1px solid red;
}


.video-controls button {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  outline: 0;
  cursor: pointer;
  text-indent: -99999px;
  background-color: transparent;
  background-size: 60px;
  //background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  

}


$viewBox : '0 0 512 512';
$color : '#ffffff';
$opacity : '0.7';
$path : 'M256 0c-141.385 0-256 114.615-256 256s114.615 256 256 256 256-114.615 256-256-114.615-256-256-256zM256 464c-114.875 0-208-93.125-208-208s93.125-208 208-208 208 93.125 208 208-93.125 208-208 208zM192 144l192 112-192 112z';


.video-controls button[data-state="pause"] {
  background-image: url("#{inline-svg($viewBox, $color, $opacity, $path)}");
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.video-controls button[data-state="pause"]:hover{
 opacity: 1;
 transition: opacity 0.2s ease-in-out;
}

.video-controls button[data-state="play"],
.video-controls button[data-state="play"]:focus,
.video-controls button[data-state="play"]:hover {
  //background-image: none;
  outline: 0;
  opacity: 0;
}

/* Only use a hover-activated drop down menu on devices that can hover.
@media (hover) {
  .video-controls button[data-state="pause"] {
    opacity: 0.5;
  }
}
 */


/*
  video::-webkit-media-controls-play-button {
    display: none !important;
  }

video::-webkit-media-controls {
  display: none;
}
*/
/* Could Use thise as well for Individual Controls 
video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {}

video::-webkit-media-controls-current-time-display {}

*/