body {
  margin: 0;
  padding: 0;
}

.brd {
  border: 1px red solid;
}

.grid,
.grid-fit-xs,
.grid-full-xs,
.grid-fit-sm,
.grid-full-sm,
.grid-fit-lg,
.grid-full-lg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 0;
  padding: 0;
}

.grid-fit-xs > .grid-cell {
  flex-grow: 1;
  flex-basis: 0;
}

.grid-full-xs > .grid-cell {
  flex-basis: 100%;
}

.grid > .grid-1of2-xs {
  flex-grow: 1;
  flex-basis: 0;
}

.grid > .grid-1of3-xs {
  flex-grow: 1;
  flex-basis: 0;
}

.grid > .grid-2of3-xs {
  flex-grow: 2;
  flex-basis: 0;
}

.grid > .grid-1of4-xs {
  flex-grow: 1;
  flex-basis: 0;
}

.grid > .grid-3of4-xs {
  flex-grow: 3;
  flex-basis: 0;
}

@media (min-width: 30em) {
  .grid-fit-sm > .grid-cell {
    flex-grow: 1;
    flex-basis: 0;
  }
  .grid-full-sm > .grid-cell {
    flex-basis: 100%;
  }
  .grid > .grid-1of2-sm {
    flex-grow: 1;
    flex-basis: 0;
  }
  .grid > .grid-1of3-sm {
    flex-grow: 1;
    flex-basis: 0;
  }
  .grid > .grid-2of3-sm {
    flex-grow: 2;
    flex-basis: 0;
  }
  .grid > .grid-1of4-sm {
    flex-grow: 1;
    flex-basis: 0;
  }
  .grid > .grid-3of4-sm {
    flex-grow: 3;
    flex-basis: 0;
  }
}
@media (min-width: 60em) {
  .grid-fit-lg > .grid-cell {
    flex-grow: 1;
    flex-basis: 0;
  }
  .grid-full-lg > .grid-cell {
    flex-basis: 100%;
  }
  .grid > .grid-1of2-lg {
    flex-grow: 1;
    flex-basis: 0;
  }
  .grid > .grid-1of3-lg {
    flex-grow: 1;
    flex-basis: 0;
  }
  .grid > .grid-2of3-lg {
    flex-grow: 2;
    flex-basis: 0;
  }
  .grid > .grid-1of4-lg {
    flex-grow: 1;
    flex-basis: 0;
  }
  .grid > .grid-3of4-lg {
    flex-grow: 3;
    flex-basis: 0;
  }
}
/* With gutters */
.grid,
.grid-fit-xs,
.grid-fit-sm,
.grid-fit-lg {
  margin: -1em 0 0 -1em;
}

.grid > .grid-cell,
.grid-fit-xs > .grid-cell,
.grid-fit-sm > .grid-cell,
.grid-fit-lg > .grid-cell {
  padding: 1em 0 0 1em;
}

/* Alignment per row */
.grid-top {
  align-items: flex-start;
}

.grid-bottom {
  align-items: flex-end;
}

.grid-center {
  align-items: center;
}

.grid-justifycenter {
  justify-content: center;
}

/* Alignment per cell */
.grid-cell-top {
  align-self: flex-start;
}

.grid-cell-bottom {
  align-self: flex-end;
}

.grid-cell-center {
  align-self: center;
}

.grid-cell-autosize {
  flex: none;
}/*# sourceMappingURL=simpleflexgrid.css.map */