.video-wrapper {
  position: relative;
}

.video-wrapper .video-controls {
  dispay: none;
}

.playpause {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.video-controls button {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  outline: 0;
  cursor: pointer;
  text-indent: -99999px;
  background-color: transparent;
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.video-controls button[data-state="pause"] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' preserveAspectRatio='xMinYMin meet'%3E%3Cpath style='fill:%23ffffff' fill-opacity='0.7' d='M256 0c-141.385 0-256 114.615-256 256s114.615 256 256 256 256-114.615 256-256-114.615-256-256-256zM256 464c-114.875 0-208-93.125-208-208s93.125-208 208-208 208 93.125 208 208-93.125 208-208 208zM192 144l192 112-192 112z' /%3E%3C/svg%3E");
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.video-controls button[data-state="pause"]:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.video-controls button[data-state="play"],
.video-controls button[data-state="play"]:focus,
.video-controls button[data-state="play"]:hover {
  outline: 0;
  opacity: 0;
}

/* Only use a hover-activated drop down menu on devices that can hover.
@media (hover) {
  .video-controls button[data-state="pause"] {
    opacity: 0.5;
  }
}
 */
/*
  video::-webkit-media-controls-play-button {
    display: none !important;
  }

video::-webkit-media-controls {
  display: none;
}
*/
/* Could Use thise as well for Individual Controls 
video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {}

video::-webkit-media-controls-current-time-display {}

*/
