<form id="localStorageTest" method="post" action="">

    <label>Name:</label>
    <input type="text" name="name" id="name" class="stored" value="" />
<br><hr><br>
    <label>Email:</label>
    <input type="email" name="email" id="email" class="stored" value="" />
    <br><hr><br>
    <label>Message:</label>
    <textarea name="message" id="message" class="stored"></textarea>
    <br><hr><br>
    <input type="submit" class="demo-button" value="Submit" />
</form>

<script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>

<script type="text/javascript">
$(document).ready(function () {

    function init() {
        if (localStorage.getItem("name") > 0 ) {
            $('#name').val(localStorage.getItem("name"));
        }
        if (localStorage.getItem("email") > 0 ) {
            $('#email').val(localStorage.getItem("email"));
        }
    }
    init();
});

$('.stored').keyup(function () {
    localStorage.setItem($(this).attr('name'), $(this).val());
});

$('#localStorageTest').submit(function() {
    localStorage.removeItem('name');
    localStorage.removeItem('email');
});
</script>







<script>
/* Set some data */
localStorage.setItem("key", "value");

/* Get some data */
localStorage.getItem("key");





// Create
const user = { name: 'Ire Aderinokun', age: 25 }
localStorage.setItem('user', JSON.stringify(user));

// Read (Single)
console.log( JSON.parse(localStorage.getItem('user')) ) 

// Update
const updatedUser = { name: 'Ire Aderinokun', age: 24 }
localStorage.setItem('user', JSON.stringify(updatedUser));

// Delete
//localStorage.removeItem('user');




readuser = JSON.parse(localStorage.getItem('user'));

console.log (readuser.name);

</script>