/*!
Styles for full screen background video demo
*/
/* =============================================================================
  RESETS
============================================================================= */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* =============================================================================
  CONTENT
============================================================================= */
#pagewrapper {
  position: relative;
}

.content {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.content .heading {
  margin-bottom: 24px;
  color: rgb(39, 39, 39);
  font-size: 44px;
}

.content .teaser {
  margin-bottom: 24px;
  color: rgb(39, 39, 39);
  font-size: 22px;
}

.content .cta {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  color: rgb(255, 60, 100);
  font-size: 22px;
  text-decoration: none;
  border: solid 4px rgb(255, 60, 100);
  box-shadow: 2px 2px 4px #000000;
  text-shadow: 2px 2px 4px #000000;
}

/* =============================================================================
  VIDEO
============================================================================= */
.video {
  /*position: relative;  //fixed; // for fix one screnn
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  margin: 0;*/
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.video-controls button {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  outline: 0;
  cursor: pointer;
  text-indent: -99999px;
  background-color: transparent;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.video-controls button[data-state=pause] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' preserveAspectRatio='xMinYMin meet'%3E%3Cpath style='fill:%23ffffff' fill-opacity='0.9' d='M256 0c-141.385 0-256 114.615-256 256s114.615 256 256 256 256-114.615 256-256-114.615-256-256-256zM256 464c-114.875 0-208-93.125-208-208s93.125-208 208-208 208 93.125 208 208-93.125 208-208 208zM160 160h64v192h-64zM288 160h64v192h-64z' /%3E%3C/svg%3E");
  opacity: 0.8;
}

.video-controls button[data-state=pause]:hover {
  opacity: 1;
}

.video-controls button[data-state=play] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' preserveAspectRatio='xMinYMin meet'%3E%3Cpath style='fill:%23ffffff' fill-opacity='0.9' d='M256 0c-141.385 0-256 114.615-256 256s114.615 256 256 256 256-114.615 256-256-114.615-256-256-256zM256 464c-114.875 0-208-93.125-208-208s93.125-208 208-208 208 93.125 208 208-93.125 208-208 208zM192 144l192 112-192 112z' /%3E%3C/svg%3E");
  opacity: 0.7;
}

.video-controls button[data-state=play]:hover {
  opacity: 1;
}

.menu-wrapper {
  clear: both;
  position: relative;
  top: 0%;
  z-index: 2;
  margin: 0 auto;
  max-width: 1000px;
  height: 6em;
}

ul.menu {
  float: right;
}

.menu li {
  float: left;
  margin: 0 0 0 3em;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}/*# sourceMappingURL=style.css.map */