* {
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row::before,
.row::after {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

[class*=col] {
  padding: 0 15px 0 15px;
  position: relative;
  width: 100%;
  min-height: 1px;
  float: left;
}

.row > .col-1 {
  width: 8.3333333333%;
}

.row > .col-2 {
  width: 16.6666666667%;
}

.row > .col-3 {
  width: 25%;
}

.row > .col-4 {
  width: 33.3333333333%;
}

.row > .col-5 {
  width: 41.6666666667%;
}

.row > .col-6 {
  width: 50%;
}

.row > .col-7 {
  width: 58.3333333333%;
}

.row > .col-8 {
  width: 66.6666666667%;
}

.row > .col-9 {
  width: 75%;
}

.row > .col-10 {
  width: 83.3333333333%;
}

.row > .col-11 {
  width: 91.6666666667%;
}

.row > .col-12 {
  width: 100%;
}

@media (min-width: 576px) {
  .row > .col-sm-1 {
    width: 8.3333333333%;
  }
  .row > .col-sm-2 {
    width: 16.6666666667%;
  }
  .row > .col-sm-3 {
    width: 25%;
  }
  .row > .col-sm-4 {
    width: 33.3333333333%;
  }
  .row > .col-sm-5 {
    width: 41.6666666667%;
  }
  .row > .col-sm-6 {
    width: 50%;
  }
  .row > .col-sm-7 {
    width: 58.3333333333%;
  }
  .row > .col-sm-8 {
    width: 66.6666666667%;
  }
  .row > .col-sm-9 {
    width: 75%;
  }
  .row > .col-sm-10 {
    width: 83.3333333333%;
  }
  .row > .col-sm-11 {
    width: 91.6666666667%;
  }
  .row > .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .row > .col-md-1 {
    width: 8.3333333333%;
  }
  .row > .col-md-2 {
    width: 16.6666666667%;
  }
  .row > .col-md-3 {
    width: 25%;
  }
  .row > .col-md-4 {
    width: 33.3333333333%;
  }
  .row > .col-md-5 {
    width: 41.6666666667%;
  }
  .row > .col-md-6 {
    width: 50%;
  }
  .row > .col-md-7 {
    width: 58.3333333333%;
  }
  .row > .col-md-8 {
    width: 66.6666666667%;
  }
  .row > .col-md-9 {
    width: 75%;
  }
  .row > .col-md-10 {
    width: 83.3333333333%;
  }
  .row > .col-md-11 {
    width: 91.6666666667%;
  }
  .row > .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .row > .col-lg-1 {
    width: 8.3333333333%;
  }
  .row > .col-lg-2 {
    width: 16.6666666667%;
  }
  .row > .col-lg-3 {
    width: 25%;
  }
  .row > .col-lg-4 {
    width: 33.3333333333%;
  }
  .row > .col-lg-5 {
    width: 41.6666666667%;
  }
  .row > .col-lg-6 {
    width: 50%;
  }
  .row > .col-lg-7 {
    width: 58.3333333333%;
  }
  .row > .col-lg-8 {
    width: 66.6666666667%;
  }
  .row > .col-lg-9 {
    width: 75%;
  }
  .row > .col-lg-10 {
    width: 83.3333333333%;
  }
  .row > .col-lg-11 {
    width: 91.6666666667%;
  }
  .row > .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .row > .col-xl-1 {
    width: 8.3333333333%;
  }
  .row > .col-xl-2 {
    width: 16.6666666667%;
  }
  .row > .col-xl-3 {
    width: 25%;
  }
  .row > .col-xl-4 {
    width: 33.3333333333%;
  }
  .row > .col-xl-5 {
    width: 41.6666666667%;
  }
  .row > .col-xl-6 {
    width: 50%;
  }
  .row > .col-xl-7 {
    width: 58.3333333333%;
  }
  .row > .col-xl-8 {
    width: 66.6666666667%;
  }
  .row > .col-xl-9 {
    width: 75%;
  }
  .row > .col-xl-10 {
    width: 83.3333333333%;
  }
  .row > .col-xl-11 {
    width: 91.6666666667%;
  }
  .row > .col-xl-12 {
    width: 100%;
  }
}/*# sourceMappingURL=floatgrid.css.map */