$breakpoint: 750px;
$line-height: 1.75;
$fontsize-bar: .85;
$padding-bar-x: .75rem;
$padding-bar-y: .25rem;
$spacing-unit: 1rem;

.metabar {
    background-color: #000;
      color: #fff;
    font-size: $fontsize-bar * 1rem;
    min-height: $fontsize-bar * $line-height * 1rem + 2*$padding-bar-y;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;

    a {
        text-decoration: none;
        display: block;

        &:visited {
            color: #fff;
        }
    }
}

.metabar-nav {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        a {
            padding: $padding-bar-y $padding-bar-x;
            color: #fff;
        }
    }
}

.metabar-hamburger {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 1.5rem;
    display:  block;
    width: 1.5em;
    height: $spacing-unit * 1.5 * $fontsize-bar;
    content: "";
    background: no-repeat center center;
    background-image: none;
    background-size: auto;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.metabar-checkbox {
    display: none;
}

@media (min-width: $breakpoint) {
    .metabar-nav {
        display: block;
        & > li {
            display: inline-block;
        }
    }
    .metabar-hamburger {
        display: none;
    }
}

.metabar-checkbox {
    &:checked {
        ~ .metabar-nav {
            display:block;
        }
    }
}