.metabar {
  background-color: #000;
  color: #fff;
  font-size: 0.85rem;
  min-height: 1.9875rem;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}
.metabar a {
  text-decoration: none;
  display: block;
}
.metabar a:visited {
  color: #fff;
}

.metabar-nav {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.metabar-nav li a {
  padding: 0.25rem 0.75rem;
  color: #fff;
}

.metabar-hamburger {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 1.5rem;
  display: block;
  width: 1.5em;
  height: 1.275rem;
  content: "";
  background: no-repeat center center;
  background-image: none;
  background-size: auto;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.metabar-checkbox {
  display: none;
}

@media (min-width: 750px) {
  .metabar-nav {
    display: block;
  }
  .metabar-nav > li {
    display: inline-block;
  }
  .metabar-hamburger {
    display: none;
  }
}
.metabar-checkbox:checked ~ .metabar-nav {
  display: block;
}/*# sourceMappingURL=style.css.map */