
//S #005437 // tanne



$tanne:  #005437;


$tanne2: darken($tanne,2%);
$tanne4: darken($tanne,4%);
$tanne6: darken($tanne,6%);
$tanne8: darken($tanne,8%);
$tanne10: darken($tanne,10%);
$tanne12: darken($tanne,12%);
$tanne14: darken($tanne,14%);
$tanne16: darken($tanne,16%);
$tanne18: darken($tanne,18%);
$tanne20: darken($tanne,20%);
$tanne30: darken($tanne,30%);
$tanne40: darken($tanne,40%);


html{
    background-color: $tanne2;
    color: #fff;
}

body{
    max-width: 70%;
    margin: 0 auto;
    line-height: 1.6;
}


.has-tanne-background-color {
    background-color: $tanne !important;
}

.has-tanne-8-darker-background-color,
.bg-tanne-8-darker,
.bg-darkgreen {
    background-color: $tanne8;  // tanne 8% darker
  }

.has-tanne-10-darker-background-color,
.bg-tanne-10-darker, 
.site-footer {
    background-color: $tanne10;  // tanne 10% darker
  }