html {
  background-color: #004a30;
  color: #fff;
}

body {
  max-width: 70%;
  margin: 0 auto;
  line-height: 1.6;
}

.has-tanne-background-color {
  background-color: #005437 !important;
}

.has-tanne-8-darker-background-color,
.bg-tanne-8-darker,
.bg-darkgreen {
  background-color: #002b1c;
}

.has-tanne-10-darker-background-color,
.bg-tanne-10-darker,
.site-footer {
  background-color: #002116;
}/*# sourceMappingURL=style.css.map */