widgets

<!-- wp:group {"className":"has-sand-background-color","className":"has-tanne-color"} -->
<div class="wp-block-group has-tanne-color has-sand-background-color has-text-color has-background">
    
<!-- wp:heading {"textAlign":"center","className":"h1"} -->
<h2 class="wp-block-heading has-text-align-center h1">Werde aktiv</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Hallo. Ich bin ein kleiner Blindtext. Und zwar schon so lange ich denken kann. <br />Es war nicht leicht zu verstehen, was es bedeutet, ein blinder Text zu sein.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"}} -->
<div class="wp-block-buttons">

<!-- wp:button {"className":"button-tanne"} -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button button-tanne" href="https://sunflower-theme.de/demo/sunflower_event/" rel="">Termine</a></div>
<!-- /wp:button -->

<!-- wp:button {"className":"button-tanne"} -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button button-tanne" href="https://sunflower-theme.de/demo/kontakt/">Spenden</a></div>
<!-- /wp:button -->

<!-- wp:button {"className":"button-tanne"} -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button button-tanne" href="https://sunflower-theme.de/demo/kontakt/">Mitglied werden</a></div>
<!-- /wp:button --></div>

<!-- /wp:buttons --></div>

<!-- /wp:group -->











<!-- wp:group {"style":{"color":{"text":"#ffffff"}},"className":"has-tanne-background-color"} -->
<div class="wp-block-group has-tanne-background-color has-text-color has-background" style="color: #ffffff;"><!-- wp:heading {"textAlign":"center","className":"h1"} -->
<h2 class="wp-block-heading has-text-align-center h1">Werde aktiv has-tanne-background-color</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Hallo. Ich bin ein kleiner Blindtext. Und zwar schon so lange ich denken kann. <br />Es war nicht leicht zu verstehen, was es bedeutet, ein blinder Text zu sein.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"}} -->
<div class="wp-block-buttons">
<!-- wp:button {"className":"button-sand"} -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button button-sand" href="https://sunflower-theme.de/demo/sunflower_event/" rel="">Termine</a></div>
<!-- /wp:button -->

<!-- wp:button {"className":"button-sand"} -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button button-sand" href="https://sunflower-theme.de/demo/kontakt/">Spenden</a></div>
<!-- /wp:button -->

<!-- wp:button {"className":"button-sand"} -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button button-sand" href="https://sunflower-theme.de/demo/kontakt/">Mitglied werden</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->







<!-- wp:group {"style":{"color":{"text":"#ffffff","background":"#163c29"}}} -->
<div class="wp-block-group has-text-color has-background" style="color: #ffffff; background-color: #163c29;"><!-- wp:heading {"textAlign":"center","className":"h1"} -->
<h2 class="wp-block-heading has-text-align-center h1">Werde aktiv</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Hallo. Ich bin ein kleiner Blindtext. Und zwar schon so lange ich denken kann. <br />Es war nicht leicht zu verstehen, was es bedeutet, ein blinder Text zu sein.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="https://sunflower-theme.de/demo/sunflower_event/" rel="">Termine</a></div>
<!-- /wp:button -->

<!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="https://sunflower-theme.de/demo/kontakt/">Spenden</a></div>
<!-- /wp:button -->

<!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="https://sunflower-theme.de/demo/kontakt/">Mitglied werden</a></div>
<!-- /wp:button -->
</div>
<!-- /wp:buttons -->
</div>
<!-- /wp:group -->