<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ng-cribs 1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body ng-app="ngCribs" ng-controller="cribsController">

	<h1>{{ hello }}</h1>

	<pre>{{ crips | json }}</pre>

	<div class="well" ng-repeat="crip in crips">
		<h3> {{ crip.address}}</h3>
		<p> id:  {{ crip.id}} </p>
		<p> price: {{ crip.price}} </p>
		<p> type: {{ crip.type}} </p>
		<p> descripton: {{ crip.description }} </p>
	</div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
  <script src="app.js"></script>
  <script>

	angular
		.module('ngCribs')
			.controller('cribsController', function($scope) {
				$scope.hello = 'hello word';


				$scope.crips = [
					  {
					    "id": 1,
					    "type": "Condo",
					    "price": 220000,
					    "address": "213 Grove Street",
					    "description": "Excellent place, really nice view!",
					  },
					  {
					    "id": 2,
					    "type": "House",
					    "price": 410500,
					    "address": "7823 Winding Way",
					    "description": "Beautiful home with lots of space for a large family.",
  						}
				];
	});			
  </script>
</html>