<picture>
  <source media="(min-width: 1024px)" srcset="large.png" >

  <source media="(min-width: 700px)" srcset="medium.png">


  <source srcset="small.png">
  <img src="small.png" alt="">
</picture>




