/*

body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.a {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
   }
    .b {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .c {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .d {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .e {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .f {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }




    display: -ms-grid --> display: grid
    display: -ms-inline-grid --> display: inline-grid
    -ms-grid-columns : value --> grid-template-columns : value (same)
    -ms-grid-rows : value --> grid-template-rows : value (same)
    -ms-grid-columns: 10px (250px 10px)[4]; --> grid-template-columns: 10px repeat(4, 250px 10px);
    -ms-grid-column : value --> grid-column : value (same)
    -ms-grid-row : value --> grid-row : value (same)
    -ms-grid-column-align: value --> justify-items: value (same)
    -ms-grid-row-align: value --> align-items: value (same)
    -ms-grid-column-span: value --> grid-column : auto / span value
    -ms-grid-row-span: value --> grid-row : auto / span value
*/
.wrapper {
  border: blue solid 1px;
  display: grid;
  /*display: -ms-grid;*/
  grid-template-columns: 250px 250px 250px 3fr;
  /*-ms-grid-columns: 250px 250px 250px 3fr;*/
  grid-template-rows: 50px 5em auto;
  /*-ms-grid-rows: 50px 5em auto;*/
}

.a {
  background: maroon;
  border: orange solid 1px;
  grid-row-start: 1;
  /*-ms-grid-row: 1;*/
  grid-column-start: 1;
  /*-ms-grid-column: 1;*/
}

.c {
  background: maroon;
  border: orange solid 1px;
  grid-row-start: 1;
  /*-ms-grid-row: 1;*/
  grid-column-start: 2;
  /*-ms-grid-column: 2;*/
}

.d {
  background: maroon;
  border: orange solid 1px;
  grid-row-start: 1;
  /*-ms-grid-row: 1;*/
  grid-column-start: 3;
  /*-ms-grid-column: 3;*/
}

.e {
  background: maroon;
  border: orange solid 1px;
  grid-row-start: 1;
  /*-ms-grid-row: 1;*/
  grid-column-start: 4;
  /*-ms-grid-column: 4;*/
}

.b {
  background: lightgray;
  border: red solid 1px;
  grid-row-start: 2;
  /*-ms-grid-row: 2;*/
  grid-column: 2;
  /*-ms-grid-column: 2;*/
}

.f {
  background: lightgray;
  border: red solid 1px;
  grid-row-start: 3;
  /*-ms-grid-row: 3;*/
  grid-column: 1/span 4;
  /*-ms-grid-column: 1;*/
  /*-ms-grid-column-span: 4;*/
}/*# sourceMappingURL=grid.css.map */