$with-pull-push-offset: true;
$with-none-responsive-grid: true;
$use-xs-name: false;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$columns: 12 !default;

$grid-gutter-width-base: 30px;




* {
    box-sizing: border-box;
}

.container {
    padding-right:($grid-gutter-width-base / 2);
    padding-left: ($grid-gutter-width-base / 2);
}

@each $breakpointname in map-keys($grid-breakpoints) {
    @if ($breakpointname == 'xs') {
      .container{
        width: 100%;
      }
    } @else {
        @media (min-width: map-get($grid-breakpoints, $breakpointname)) {
           .container{
                max-width: map-get($container-max-widths, $breakpointname);
                margin: 0 auto;
            }
        }
    }
}

@mixin make-row($gutter: $grid-gutter-width-base) {
    .row {
        display: flex;
        flex: 1 0 100%;
        flex-wrap: wrap;
        margin-top: 0; // stylelint-disable-line function-blacklist
        margin-right: -$gutter / 2;
        margin-left: -$gutter / 2;
    }
}


@include make-row($grid-gutter-width-base);

@mixin do-none-responsive-col{
    .col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
}

@mixin do-none-responsive-col-widths($columns){
    @if ($use-xs-name == true){
        @for $size from 1 through $columns {
            .row > .col-#{$size} {
                // flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
                flex: 0 0 percentage($size / $columns);
                max-width: percentage($size / $columns);
            }    
        }
    }
}

@mixin do-none-responsive-force-row(){
    .force-row {
        width: 100% !important;
    }
}

@mixin do-none-responsive-order($columns){
    @for $size from 1 through $columns {
        .row > .order-#{$size} {
            order: $size;
        }
    }
}

@if ($with-none-responsive-grid == true){
    @include do-none-responsive-col();
    @include do-none-responsive-col-widths($columns);
    @include do-none-responsive-force-row();
    @include do-none-responsive-order($columns);
}

[class*='col']{
    padding: 0 ($grid-gutter-width-base / 2) 0 ($grid-gutter-width-base / 2);
    position: relative;
    // Prevent columns from becoming too narrow when at smaller grid tiers by
    // always setting `width: 100%;`. This works because we use `flex` values
    // later on to override this initial width.
    width: 100%;
    min-height: 1px; // Prevent collapsing
}

@each $breakpointname in map-keys($grid-breakpoints) {
    @if ($breakpointname == 'xs') {
        @for $size from 1 through $columns {
            @if ($use-xs-name == true) {
                .row > .col-#{$breakpointname}-#{$size} {
                    // flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
                    flex: 0 0 percentage($size / $columns);
                    // Add a `max-width` to ensure content within each column does not blow out
                    // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
                    // do not appear to require this.
                    max-width: percentage($size / $columns);
                }
            }@else{
                .row > .col-#{$size} {
                    // flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
                    flex: 0 0 percentage($size / $columns);
                    // Add a `max-width` to ensure content within each column does not blow out
                    // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
                    // do not appear to require this.
                    max-width: percentage($size / $columns);
                }    
            }    
        }
    }

    @else {
        @media (min-width: map-get($grid-breakpoints, $breakpointname)) {
            @for $size from 1 through $columns {
                .row > .col-#{$breakpointname}-#{$size} {
                  flex: 0 0 percentage($size / $columns);
                  // Add a `max-width` to ensure content within each column does not blow out
                  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
                  // do not appear to require this.
                  max-width: percentage($size / $columns);
                }
            }
        }
    }
}

@mixin do-pull-push-offset($grid-breakpoints,$columns){
    @each $breakpointname in map-keys($grid-breakpoints) {
        @if ($breakpointname == 'xs') {
            @if ($use-xs-name == true) {
                @for $size from 1 through $columns {
                    .pull-#{$breakpointname}-#{$size} {
                        right: percentage($size / $columns);
                    }

                    .push-#{$breakpointname}-#{$size} {
                        left: percentage($size / $columns);
                    }

                    .offset-#{$breakpointname}-#{$size} {
                        margin-left: percentage($size / $columns);
                    }
                }
            }@else{
                @for $size from 1 through $columns {
                    .pull-#{$size} {
                        right: percentage($size / $columns);
                    }

                    .push-#{$size} {
                        left: percentage($size / $columns);
                    }

                    .offset-#{$size} {
                        margin-left: percentage($size / $columns);
                    }
                }
            }    
        }

        @else {
            @media (min-width: map-get($grid-breakpoints, $breakpointname)) {
                @for $size from 1 through $columns {
                    .pull-#{$breakpointname}-#{$size} {
                        right: percentage($size / $columns);
                    }

                    .push-#{$breakpointname}-#{$size} {
                        left: percentage($size / $columns);
                    }

                    .offset-#{$breakpointname}-#{$size} {
                        margin-left: percentage($size / $columns);
                    }
                }
            }
        }
    }
}

@if ($with-pull-push-offset == true) {
    @include do-pull-push-offset($grid-breakpoints,$columns);
}


/*
@mixin test($condition) {
    $color: if($condition, blue, red);
    color:$color
}
*/