* {
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
.row {
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.force-row {
  width: 100% !important;
}

.row > .order-1 {
  order: 1;
}

.row > .order-2 {
  order: 2;
}

.row > .order-3 {
  order: 3;
}

.row > .order-4 {
  order: 4;
}

.row > .order-5 {
  order: 5;
}

.row > .order-6 {
  order: 6;
}

.row > .order-7 {
  order: 7;
}

.row > .order-8 {
  order: 8;
}

.row > .order-9 {
  order: 9;
}

.row > .order-10 {
  order: 10;
}

.row > .order-11 {
  order: 11;
}

.row > .order-12 {
  order: 12;
}

[class*=col] {
  padding: 0 15px 0 15px;
  position: relative;
  width: 100%;
  min-height: 1px;
}

.row > .col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.row > .col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.row > .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.row > .col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.row > .col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.row > .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.row > .col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.row > .col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.row > .col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.row > .col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.row > .col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.row > .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .row > .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .row > .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .row > .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row > .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .row > .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .row > .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row > .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .row > .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .row > .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .row > .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .row > .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .row > .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .row > .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .row > .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .row > .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row > .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .row > .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .row > .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row > .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .row > .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .row > .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .row > .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .row > .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .row > .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .row > .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .row > .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .row > .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row > .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .row > .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .row > .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row > .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .row > .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .row > .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .row > .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .row > .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .row > .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .row > .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .row > .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .row > .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row > .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .row > .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .row > .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row > .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .row > .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .row > .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .row > .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .row > .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .row > .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.pull-1 {
  right: 8.3333333333%;
}

.push-1 {
  left: 8.3333333333%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.pull-2 {
  right: 16.6666666667%;
}

.push-2 {
  left: 16.6666666667%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.pull-3 {
  right: 25%;
}

.push-3 {
  left: 25%;
}

.offset-3 {
  margin-left: 25%;
}

.pull-4 {
  right: 33.3333333333%;
}

.push-4 {
  left: 33.3333333333%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.pull-5 {
  right: 41.6666666667%;
}

.push-5 {
  left: 41.6666666667%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.pull-6 {
  right: 50%;
}

.push-6 {
  left: 50%;
}

.offset-6 {
  margin-left: 50%;
}

.pull-7 {
  right: 58.3333333333%;
}

.push-7 {
  left: 58.3333333333%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.pull-8 {
  right: 66.6666666667%;
}

.push-8 {
  left: 66.6666666667%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.pull-9 {
  right: 75%;
}

.push-9 {
  left: 75%;
}

.offset-9 {
  margin-left: 75%;
}

.pull-10 {
  right: 83.3333333333%;
}

.push-10 {
  left: 83.3333333333%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.pull-11 {
  right: 91.6666666667%;
}

.push-11 {
  left: 91.6666666667%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.pull-12 {
  right: 100%;
}

.push-12 {
  left: 100%;
}

.offset-12 {
  margin-left: 100%;
}

@media (min-width: 576px) {
  .pull-sm-1 {
    right: 8.3333333333%;
  }
  .push-sm-1 {
    left: 8.3333333333%;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .pull-sm-2 {
    right: 16.6666666667%;
  }
  .push-sm-2 {
    left: 16.6666666667%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .pull-sm-3 {
    right: 25%;
  }
  .push-sm-3 {
    left: 25%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .pull-sm-4 {
    right: 33.3333333333%;
  }
  .push-sm-4 {
    left: 33.3333333333%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .pull-sm-5 {
    right: 41.6666666667%;
  }
  .push-sm-5 {
    left: 41.6666666667%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .pull-sm-6 {
    right: 50%;
  }
  .push-sm-6 {
    left: 50%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .pull-sm-7 {
    right: 58.3333333333%;
  }
  .push-sm-7 {
    left: 58.3333333333%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .pull-sm-8 {
    right: 66.6666666667%;
  }
  .push-sm-8 {
    left: 66.6666666667%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .pull-sm-9 {
    right: 75%;
  }
  .push-sm-9 {
    left: 75%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .pull-sm-10 {
    right: 83.3333333333%;
  }
  .push-sm-10 {
    left: 83.3333333333%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .pull-sm-11 {
    right: 91.6666666667%;
  }
  .push-sm-11 {
    left: 91.6666666667%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .pull-sm-12 {
    right: 100%;
  }
  .push-sm-12 {
    left: 100%;
  }
  .offset-sm-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .pull-md-1 {
    right: 8.3333333333%;
  }
  .push-md-1 {
    left: 8.3333333333%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .pull-md-2 {
    right: 16.6666666667%;
  }
  .push-md-2 {
    left: 16.6666666667%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .pull-md-3 {
    right: 25%;
  }
  .push-md-3 {
    left: 25%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .pull-md-4 {
    right: 33.3333333333%;
  }
  .push-md-4 {
    left: 33.3333333333%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .pull-md-5 {
    right: 41.6666666667%;
  }
  .push-md-5 {
    left: 41.6666666667%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .pull-md-6 {
    right: 50%;
  }
  .push-md-6 {
    left: 50%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .pull-md-7 {
    right: 58.3333333333%;
  }
  .push-md-7 {
    left: 58.3333333333%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .pull-md-8 {
    right: 66.6666666667%;
  }
  .push-md-8 {
    left: 66.6666666667%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .pull-md-9 {
    right: 75%;
  }
  .push-md-9 {
    left: 75%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .pull-md-10 {
    right: 83.3333333333%;
  }
  .push-md-10 {
    left: 83.3333333333%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .pull-md-11 {
    right: 91.6666666667%;
  }
  .push-md-11 {
    left: 91.6666666667%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .pull-md-12 {
    right: 100%;
  }
  .push-md-12 {
    left: 100%;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .pull-lg-1 {
    right: 8.3333333333%;
  }
  .push-lg-1 {
    left: 8.3333333333%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .pull-lg-2 {
    right: 16.6666666667%;
  }
  .push-lg-2 {
    left: 16.6666666667%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .pull-lg-3 {
    right: 25%;
  }
  .push-lg-3 {
    left: 25%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .pull-lg-4 {
    right: 33.3333333333%;
  }
  .push-lg-4 {
    left: 33.3333333333%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .pull-lg-5 {
    right: 41.6666666667%;
  }
  .push-lg-5 {
    left: 41.6666666667%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .pull-lg-6 {
    right: 50%;
  }
  .push-lg-6 {
    left: 50%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .pull-lg-7 {
    right: 58.3333333333%;
  }
  .push-lg-7 {
    left: 58.3333333333%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .pull-lg-8 {
    right: 66.6666666667%;
  }
  .push-lg-8 {
    left: 66.6666666667%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .pull-lg-9 {
    right: 75%;
  }
  .push-lg-9 {
    left: 75%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .pull-lg-10 {
    right: 83.3333333333%;
  }
  .push-lg-10 {
    left: 83.3333333333%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .pull-lg-11 {
    right: 91.6666666667%;
  }
  .push-lg-11 {
    left: 91.6666666667%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .pull-lg-12 {
    right: 100%;
  }
  .push-lg-12 {
    left: 100%;
  }
  .offset-lg-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .pull-xl-1 {
    right: 8.3333333333%;
  }
  .push-xl-1 {
    left: 8.3333333333%;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .pull-xl-2 {
    right: 16.6666666667%;
  }
  .push-xl-2 {
    left: 16.6666666667%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .pull-xl-3 {
    right: 25%;
  }
  .push-xl-3 {
    left: 25%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .pull-xl-4 {
    right: 33.3333333333%;
  }
  .push-xl-4 {
    left: 33.3333333333%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .pull-xl-5 {
    right: 41.6666666667%;
  }
  .push-xl-5 {
    left: 41.6666666667%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .pull-xl-6 {
    right: 50%;
  }
  .push-xl-6 {
    left: 50%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .pull-xl-7 {
    right: 58.3333333333%;
  }
  .push-xl-7 {
    left: 58.3333333333%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .pull-xl-8 {
    right: 66.6666666667%;
  }
  .push-xl-8 {
    left: 66.6666666667%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .pull-xl-9 {
    right: 75%;
  }
  .push-xl-9 {
    left: 75%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .pull-xl-10 {
    right: 83.3333333333%;
  }
  .push-xl-10 {
    left: 83.3333333333%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .pull-xl-11 {
    right: 91.6666666667%;
  }
  .push-xl-11 {
    left: 91.6666666667%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .pull-xl-12 {
    right: 100%;
  }
  .push-xl-12 {
    left: 100%;
  }
  .offset-xl-12 {
    margin-left: 100%;
  }
}
/*
@mixin test($condition) {
    $color: if($condition, blue, red);
    color:$color
}
*//*# sourceMappingURL=flexboxgrid.css.map */