<html ng-app="tutorialApp">
<head>
  <meta charset="utf8" />
  <title>AngularJS Tutorial</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <style>
  .cart-item.ng-enter {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  background-color: yellow;
}
.cart-item.ng-enter-active {
  background-color: white;
}
</style>
<!-- https://angularjs.de/artikel/angularjs-tutorial-deutsch/ -->
</head>
<body>
  <div class="container">

<form>
      <input type="text" ng-model="search">
      <p ng-show="search">Du suchst gerade nach: {{search}}</p>
    </form>

    <table class="table" ng-controller="ArticlesCtrl">
      <tr ng-repeat="article in articles | filter:search">
        <td>{{article.id}}</td>
        <td>{{article.name}}</td>
        <td>{{article.price}}</td>
        <td><a href class="btn btn-default btn-sm" ng-click="cart.addArticle(article);">Hinzufügen</a></td>
      </tr>
    </table>

    <div ng-controller="CartCtrl">
      <div ng-hide="cart.getItems().length" class="alert alert-info">Ihr Warenkorb ist noch leer.</div>
      <table ng-show="cart.getItems().length" class="table">
        <tr ng-repeat="item in cart.getItems() track by
        $index" class="cart-item">
          <td>{{item.name}}</td>
          <td>{{item.price | currency}}</td>
        </tr>
        <tr>
          <td>{{cart.getItems().length}} Artikel</td>
          <td>{{cart.sum() | currency}}</td>
          <td></td>
        </tr>
      </table>
    </div>


  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.js"></script>
  <script src="app.js"></script>
</body>
</html>