<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup Form</title>

  <!-- css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
  <style>
    .box {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  </style>

  <!-- js -->
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

  <div class="hero is-fullheight is-info is-bold">
  <div class="hero-body">
  <div class="container">
    <h1 class="title has-text-centered">Vue.js Form Processing</h1>
    <div class="box">

      <!-- our signup form ===================== -->
      <form id="signup-form" @submit.prevent="processForm" novalidate>

          <p v-if="errors.length">
    <b>Please correct the following error(s):</b>
    <ul>
      <li v-for="error in errors">{{ error }}</li>
    </ul>
  </p>

        <!-- name -->
        <div class="field">
          <label class="label">Name</label>
          <input 
            type="text"
            class="input" 
            name="name"
            v-model="name"
            @blur="validateName">
            <p class="help is-danger" v-if="error.name">
            Please enter a valid name.
          </p>
        </div>

        <!-- email -->
        <div class="field">
          <label class="label">Email</label>
          <input 
            type="email" 
            class="input" 
            name="email" 
            v-model="email"
            @blur="validateEmail">

          <p class="help is-danger" v-if="error.email">
            Please enter a valid email.
          </p>
        </div>

        <!-- submit button -->
        <div class="field has-text-right">
          <button type="submit" class="button is-danger">
            Submit            
          </button>
        </div>
      </form>

    </div>
  </div>
  </div>
  </div>

  <!-- our javascript -->
  <script>
    // plain javscript ==================================
    // grab the things we need
    // const signupForm = document.getElementById('signup-form');
    // const nameInput  = signupForm.querySelector('input[name=name]');
    // const emailInput = signupForm.querySelector('input[name=email]');

    // // listen for the submit event
    // signupForm.addEventListener('submit', processSignupForm);
    // function processSignupForm(e) {
    //   e.preventDefault();

    //   const name = nameInput.value;
    //   const email = emailInput.value;

    //   console.log({ name, email });
    //   alert('Processing!');
    // }

    // vue ==========================================
    var app = new Vue({
      el: '#signup-form',
      data: {
        name: '',
        email: '',
        errors: [],
        error: {
          name: false,
          email: false
        }
      },
      methods: {
        processForm: function() {
          console.log({ name: this.name, email: this.email });

      this.errors = [];
      
      if (!window.isValidName(this.name)) {
        this.errors.push('Name required.');
      }
      if (!window.isValidEmail(this.email)) {
        this.errors.push('Mail required.');
      }
      

          alert('Processing');
        },
        validateEmail: function() {
          const isValidEmailVar = window.isValidEmail(this.email);
          this.error.email = !isValidEmailVar;
        },
        validateName: function() {
          const isValidNameVar = window.isValidName(this.name);
          this.error.name = !isValidNameVar;
        }
      }
    });

    // helpers ===============================================
    /**
     * Validate emails
     * Not 100% reliable. Just a quick and dirty check.
     */
    function isValidEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
    function isValidName(name) {
      var re = /^[a-zA-Z]{3,}$/;
      return re.test(name);
    }
  </script>
</body>
</html>