body {
  margin: 0;
  padding: 0;
}

.brd {
  border: 1px gray solid;
}

.table {
  display: table;
  table-layout: fixed;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
  padding: 0 1em 0 1em;
}

.vertical-center {
  vertical-align: middle;
}

.center {
  text-align: center;
}

.table-grid {
  display: table;
  table-layout: fixed;
}
.table-grid .row {
  display: table-row;
}
.table-grid .row .col {
  display: table-cell;
}
.table-grid .row .col.vertical-top, .table-grid .row .col.v-top {
  vertical-align: top;
}
.table-grid .row .col.vertical-bottom, .table-grid .row .col.v-bottom {
  vertical-align: bottom;
}
.table-grid .row .col.vertical-center, .table-grid .row .col.v-center {
  vertical-align: middle;
}
.table-grid .row .col.horizontal-center, .table-grid .row .col.h-center {
  text-align: center;
}/*# sourceMappingURL=table.css.map */