body{
  margin: 0;
  padding: 0;
}

.brd {
  border: 1px gray solid;
}

.table {
    display: table;
    table-layout: fixed; // IE firefox max-with bug
    //width: 100%;
}

.tr {
  display: table-row;
} 

.td {
  display: table-cell;
  padding: 0 1em 0 1em;
}

.vertical-center {
   vertical-align: middle;
}  

.center {
  text-align: center;
}        



.table-grid {
  display: table;
  table-layout: fixed; // IE firefox max-with bug
  //width: 100%;
  .row  {
    display: table-row;
    .col {
      display: table-cell;  

      &.vertical-top,
      &.v-top {
        vertical-align: top;
      }
      &.vertical-bottom,
      &.v-bottom {
        vertical-align: bottom;
      }
      &.vertical-center,
      &.v-center {
        vertical-align: middle;
      }
      &.horizontal-center,
      &.h-center {
        text-align: center;
      }
    }
  }
}
